{% extends "./templates/authslayout.njk" %}


{% block content %}

<div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            {#<div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
               <div class="btn-wrapper text-center">
                <a href="http://localhost:3000/auth/github" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div> #}
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Please upload a business network card to use</small>
              </div>
              <form role="form" method="post" enctype="multipart/form-data" id="cardUploadForm">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Card" type="file" name="card">
                  </div>
                </div>
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                    </div>
                    <input class="form-control" placeholder="Card Name" type="text" name="name" id="card_name">
                  </div>
                </div>
                <div class="text-center">
                  <input type="submit" class="btn btn-primary my-4" value="Upload" id="btnSubmit">
                </div>
              </form>
            </div>
          </div>
          {# <div class="row mt-3">
            <div class="col-6">
              <a href="#" class="text-light"><small>Forgot password?</small></a>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-light"><small>Create new account</small></a>
            </div>
          </div> #}
        </div>
      </div>
    </div>
{% endblock %}

{% block morejs %}

$(document).ready(function () {

    $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form
        var form = $('#cardUploadForm')[0];
        
		// Create an FormData object 
        var data = new FormData(form);
        
		//Get the name of the card
        var cardName = document.getElementById('card_name').value;

		// disabled the submit button
        $("#btnSubmit").prop("disabled", true);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "http://localhost:3000/api/wallet/import",
            xhrFields: {withCredentials:true},
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                $.ajax({
                        type: "POST",
                        url: "http://localhost:3000/api/wallet/"+cardName+"/setDefault",
                        xhrFields: {withCredentials:true},
                        success: function (data) {
                            window.location.href = "http://localhost:4000/dashboard"
                            $("#btnSubmit").prop("disabled", false);
                        },
                        error: function (e) {

                            $("#result").text(e.responseText);
                            console.log("ERROR : ", e);
                            $("#btnSubmit").prop("disabled", false);
                        }
                    });
                console.log("SUCCESS : ", data);
                $("#btnSubmit").prop("disabled", false);
            },
            error: function (e) {

                $("#result").text(e.responseText);
                $("#btnSubmit").prop("disabled", false);

            }
        });

    });

});

{% endblock %}