<!-- records.nunjucks -->
{% extends "./templates/layout.njk" %}

{% block content %}
  {% include "./templates/partials/header.njk" %}
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
            <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                <h3 class="mb-0">Patients</h3>
                </div>
                <div class="table-responsive">
                    
                        <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">ID Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Email</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody id="patientslist">

                    <script id="patientstemp" type="text/template7">
                    {{ '{{#each this}}' }}
                    <tr>
                        <th scope="row">
                        <div class="media align-items-center">
                            <div class="media-body">
                            <span class="mb-0 text-sm">{{ '{{patientId}}' }}</span>
                            </div>
                        </div>
                        </th>
                        <td>
                        {{ '{{firstName}}' }} {{ '{{lastName}}' }}
                        </td>
                        <td>
                        {{ '{{idNumber}}' }}
                        </td>
                        <td>
                        {{ '{{address}}' }}
                        </td>
                        <td>
                        {{ '{{email}}' }}
                        </td>
                        <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        </td>
                    </tr>
                      {{ '{{/each}} '}}
                    </script>
                     </tbody>
                    </table>
                    
                </div>
                <div class="card-footer py-4">
                <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                        <i class="fas fa-angle-left"></i>
                        <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                        <i class="fas fa-angle-right"></i>
                        <span class="sr-only">Next</span>
                        </a>
                    </li>
                    </ul>
                </nav>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block morejs %}

$(function(){
    $.ajax({
        method : 'GET',
        url: 'http://localhost:3000/api/Patient',
        xhrFields: {withCredentials:true},
        success: function(data) {
            
            var template = $('#patientstemp').html();
    
            // compile it with Template7
            var compiledTemplate = Template7.compile(template);
            
            // Now we may render our compiled template by passing required context
            var context = data;
            
            var html = compiledTemplate(context);
            $("#patientslist").append(html);

          }
    });
});
{% endblock %}